/* Regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.white-color {
    color: #fff;
}

.grey-color {
    color: rgb(173, 173, 173);
}

.flex {
    display: flex;
}

main::after {
    content: "";
    clear: both;
    display: table;
}

/* Sezione header */

header {
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    text-align: right;
    line-height: 80px;
}

.button {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.button a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    font-size: 13px;
}

/* Sezione Top-Sidebar */

#sidebar {
    width: 250px;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    float: left;
    left: 0;
    top: 0;
    z-index: 2;
    flex-direction: column;
    justify-content: space-between;
}

.side-menu {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.big-logo {
    width: 120px;
    height: auto;
    margin: 20px;
    position: relative;
    display: block;
}

.small-logo {
    width: 35px;
    height: auto;
    margin: auto;
    position: relative;
    display: none;
}

.side-menu ul {
    text-decoration: none;
    margin-left: 20px;
}

.side-menu ul li a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.playlist {
    line-height: 30px;
}

.playlist h4 {
    margin-left: 20px;
}

.playlist-creation {
    margin-left: 20px;
    margin-top: 10px;
}

.playlist-creation i {
    font-size: 40px;
    vertical-align: middle;
    margin-right: 5px;
}

.playlist-creation a {
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(173, 173, 173);
}

.list-names {
    height: 250px;
    overflow-y: auto;
}

.list-names ul {
    margin-left: 20px;
    text-decoration: none;
}

.list-names ul li a {
    text-decoration: none;
    color: rgb(173, 173, 173);
    font-size: 13px;
}

/* Sezione Bottom-Sidebar */

.bottom-sidebar {
    position: fixed;
    bottom: 80px;
    left: 0;
    width: 230px;
    margin: 0px 10px 0px 10px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    line-height: 50px;
}

.bottom-sidebar .install {
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.bottom-sidebar .account i {
    background-color: rgb(173, 173, 173);
    border-radius: 50%;
    font-size: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.bottom-sidebar .account {
    font-weight: bold;
}

/* Inizio main */ 

.container {
    width: calc(100% - 250px);
    height: 100vh;
    float: left;
    background-color: #141922;
    overflow-y: auto;
    margin-bottom: 80px;
}

/* Sezione Nav Bar */ 

#main-nav-bar {
    width: 100%;
    height: 140px;
    padding-top: 100px;
    background-color: #141922;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main-nav-bar ul {
    list-style-type: none;
}

#main-nav-bar ul li {
    display: inline-block;
    margin: 10px 15px 0px 15px;
}

#main-nav-bar ul li a {
    color: rgb(173, 173, 173);
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

/*Sezione Recently-played List */

.played-list {
    margin-left: 25px;
}

.played-list h2 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}

.song-container {
    justify-content: space-between;
    margin-right: 25px;
    flex-wrap: wrap;
}

.singular-song {
    text-align: center;
    width: 250px;
    height: 300px;
}

.singular-song img {
    width: 250px;
    height: auto;
}

.singular-song h3 {
    font-size: 17px;
    color: #fff;
    margin: 5px 0px 5px 0px;
}

.singular-song span {
    color: rgb(173, 173, 173);
    font-size: 14px;
    font-weight: bold;
}

.most-listened-list {
    margin-top: 80px;
}

.most-listened-list p {
    color: rgb(173, 173, 173);
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 20px;
}

.most-listened-container .singular-song {
    margin-right: 25px;
    flex-wrap: wrap;
}

.famous-artists p {
    color: rgb(173, 173, 173);
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 20px;
}

.famous-artists-container .singular-song {
    margin-right: 25px;
    flex-wrap: wrap;
}

.famous-artists img {
    border-radius: 50%;
}




/* Sezione footer */

footer {
    width: 100%;
    height: 80px;
    background-color: rgb(66, 66, 66);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-song img {
    width: 50px;
    height: auto;
    margin: 0px 10px;
}

.song-name {
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
}

.song-title {
    color: #fff;
    font-weight: bold;
}

.song-desc {
    color: rgb(173, 173, 173);
}

.left-icons {
    align-items: center;
    margin-left: 50px;
}

.left-icons a {
    text-decoration: none;
    color: rgb(173, 173, 173);
    margin-right: 20px;
}

.nav {
    width: 400px;
    height: 50px;
    background-color: rgb(75, 64, 146);
}

/* Regole Media-Query */

@media screen and (max-width: 575px) {
    
    #sidebar {
        width: 50px;
        height: 100vh;
    }

    .big-logo {
        display: none;
    }

    .small-logo {
        display: block;
        margin-top: 10px;
    }

    .side-menu i {
        font-size: 20px;
        margin: auto;
    }

    .side-menu span {
        display: none;
    }

    .playlist {
        display: none;
    }

    .bottom-sidebar {
        display: none;
    }

    #main-nav-bar {
        padding-left: 60px;
    }

    .container {
        width: calc(100% - 50px);
    }
}